[Unit]
Description=Keep clipboard data after the application exits (wl-paste --watch wl-copy)
PartOf=graphical-session.target
After=graphical-session.target

[Service]
Type=simple
ExecStart=/usr/bin/wl-paste --watch /usr/bin/wl-copy
Restart=on-failure

[Install]
WantedBy=graphical-session.target