[Appearance]
style=kvantum
icon_theme={{ .appearance.icons.name }}
font={{ .appearance.fonts.main }}

[Fonts]
general={{ .appearance.fonts.main }}
fixed={{ .appearance.fonts.monospace }}

[Interface]
activate_item_on_single_click=0
cursor_flash_time=1000
dialog_buttons_have_icons=1
menus_have_icons=true
gui_effects=@Invalid()
wheel_scroll_lines=3
