* {
  border: 0;
  border-radius: 0;
  font-family: "Lilex Nerd Font Mono";
  font-size: 10pt;
  min-height: 0;
  padding: 0;
}

window#waybar {
  background: #000;
  color: #fff;
}

#workspaces {
  margin: 0 4px;
}

#workspaces button {
  background: transparent;
  color: #7f7f7f;
  margin: 0 1px;
  padding: 0 3px;
}

#workspaces button:hover {
  color: #e6782e;
}

#workspaces button.urgent {
  color: #ff5555;
}

#workspaces button.active {
  color: #e6782e;
}

#workspaces button.empty:not(.active) {
  color: #ffffff;
}

#cpu,
#temperature,
#memory,
#network,
#disk,
#language,
#battery,
#clock {
  padding: 0 4px;
  color: #fff;
}

#clock.date {
  padding: 0 4px;
  color: #fff;
}

#clock:not(.date) {
  color: #e6782e;
}

#cpu.warning,
#cpu.critical,
#memory.warning,
#memory.critical,
#temperature.warning,
#temperature.critical {
  color: #e6782e;
}

tooltip {
  border: 1px solid #fff;
  background: #000;
  color: #fff;
}
