#! /bin/sh

# Запуск sxhkd, если ещё не запущен
pgrep -x sxhkd > /dev/null || sxhkd &


# Получаем список всех подключённых мониторов
monitors=($(xrandr --query | grep " connected" | cut -d" " -f1))
mon_count=${#monitors[@]}

# Сброс настроек BSPWM
bspc wm --reset-monitors

if [ "$mon_count" -eq 1 ]; then
    # Если только один монитор — назначаем все 13 рабочих столов на него
    bspc monitor "${monitors[0]}" -d 1 2 3 4 5 6 7 8 9 10 11 12 13
elif [ "$mon_count" -eq 2 ]; then
    # Если два монитора — распределяем: 5 на первый, 8 на второй
    bspc monitor "${monitors[0]}" -d 1 2 3 4 5
    bspc monitor "${monitors[1]}" -d 6 7 8 9 10 11 12 13
else
    echo "Поддерживаются только до 2 мониторов" >&2
fi
# Запуск Polybar
$HOME/.config/polybar/launch.sh &

# Установка курсора
xsetroot -cursor_name left_ptr

(sleep 2 && feh --bg-scale --randomize ~/.config/wallpaper/1920x1080-black-solid-color-background.jpg) &

# Запуск xscreensaver и других утилит
xscreensaver -no-splash &
udiskie &
dunst &

# Задержка для стабильности
sleep 2  # Увеличил задержку перед запуском Polybar


# Запуск других скриптов
(sleep 5 && ~/.config/bspwm/scripts/download_manager.sh) &

# Настройки bspwm
bspc config border_width 2
bspc config window_gap 5
bspc config split_ratio 0.50
bspc config borderless_monocle false
bspc config gapless_monocle true

# Правила для окон
bspc rule -a \* -d any
bspc rule -a Todoist  desktop='^11' follow=on
bspc rule -a obsidian desktop='^12' follow=on

# Цвета для окон
bspc config normal_border_color "#323437"
bspc config active_border_color "#ff5189"
bspc config focused_border_color "#e3c78a"
bspc config presel_feedback_color "#cf87e8"

# Конфигурация фокуса
bspc config focus_follows_pointer true
bspc config pointer_modifier super
bspc config automatic_scheme alternate
