preload = /home/mflkee/pictures/gats/skull-knight-ambushing-femto-past-zodd-atop-ganishka-in-berserk.jpg
preload = /home/mflkee/pictures/gats/wallpaperflare.com_wallpaper.jpg

wallpaper = eDP-1,/home/mflkee/pictures/gats/skull-knight-ambushing-femto-past-zodd-atop-ganishka-in-berserk.jpg
wallpaper = HDMI-A-1,/home/mflkee/pictures/gats/wallpaperflare.com_wallpaper.jpg
wallpaper = DP-4,/home/mflkee/pictures/gats/skull-knight-ambushing-femto-past-zodd-atop-ganishka-in-berserk.jpg
