[Settings]
gtk-theme-name={{ .appearance.theme.gtk }}
gtk-icon-theme-name={{ .appearance.icons.name }}
gtk-application-prefer-dark-theme={{ if .appearance.theme.gtk_prefer_dark }}1{{ else }}0{{ end }}
gtk-font-name={{ .appearance.fonts.main }}
gtk-cursor-theme-name={{ .appearance.cursor.theme }}
gtk-cursor-theme-size={{ .appearance.cursor.size }}
gtk-toolbar-style=GTK_TOOLBAR_ICONS
gtk-toolbar-icon-size=GTK_ICON_SIZE_LARGE_TOOLBAR
gtk-button-images=0
gtk-menu-images=0
gtk-enable-event-sounds=0
gtk-enable-input-feedback-sounds=0
gtk-xft-antialias=1
gtk-xft-hinting=1
gtk-xft-hintstyle=hintslight
gtk-xft-rgba=rgb
